DATABASE_URL="postgresql://user:password@host/dbname?sslmode=require"
BRIGHTDATA_API_TOKEN=""
SCRAPE_PINCODE="700001"
PHARMEASY_PRODUCT_COLLECTOR="c_msx1mjrr2i7eyw2x5z"
PHARMEASY_DISCOVERY_COLLECTOR="c_msx1nb0i2pk3c7ydje"
JANAUSHADHI_COLLECTOR="c_msx1nhwk2akso0fxfx"
OPENAI_API_KEY=""
